<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form th:action="@{perform_login}" method="post">
    <p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
        th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
        style="color: red"></p>
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </div>
    <button type="submit">Login</button>
</form>
</body>
</html>